{
  "openapi": "3.0.0",
  "info": {
    "title": "USGS Water Data Graph Image Service",
    "version": "0.32.0dev",
    "description": "API provides services which return a graph image as a png",
    "contact": {
      "name": "Water USGS Feedback",
      "url": "https://water.usgs.gov/contact/gsanswers"
    },
    "license": {
      "name": "CC0 1.0 Universal Summary",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode"
    }
  },
  "servers": [
    {
      "url": "https://labs.waterdata.usgs.gov"
    }
  ],
  "paths": {
    "/api/graph-images/monitoring-location/{siteID}/": {
      "get": {
        "description": "Returns a graph of IV data for the site as a png. Default graph is for the last 7 days.",
        "tags": [
          "USGS Site Instantaneous Value Graph"
        ],
        "parameters": [
          {
            "name": "siteID",
            "in": "path",
            "description": "USGS site ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "parameterCode",
            "in": "query",
            "description": "5 digit string for the desired data (see <a href=\"https://help.waterdata.usgs.gov/parameter_cd?group_cd=%\">parameter code definition</a> for a complete list)",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 5
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width in pixels",
            "schema": {
              "type": "integer",
              "default": 1200,
              "maximum": 1200,
              "minimum": 300
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "adds the site name, site id and agency code to the title of the graph",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "compare",
            "in": "query",
            "description": "set to true to also draw last year's data - should not be used with period, startDT or endDT",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "ISO 8601 duration format in the form of PnD where n is a positive integer. Can't be used with startDT and endDT",
            "schema": {
              "type": "string",
              "pattern": "^P([0-9]+)D$"
            }
          },
          {
            "name": "startDT",
            "in": "query",
            "description": "ISO 8601 date format (YYYY-MM-DD). Must also use endDT and be before endDT",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|[1-2][0-9]|0[1-9])$"
            }
          },
          {
            "name": "endDT",
            "in": "query",
            "description": "ISO 8601 date format (YYYY-MM-DD). Must also use startDT and be after startDT",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|[1-2][0-9]|0[1-9])$"
            }
          },
          {
            "name": "timeSeriesId",
            "in": "query",
            "description": "represents an IV timeSeriesId valid for parameterCode",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG image of the IV data for the siteID and parameterCode"
          },
          "400": {
            "description": "one or more of the query parameters did not validate"
          },
          "404": {
            "description": "Site does not exist"
          },
          "500": {
            "description": "The image could not be rendered, typically because a query parameter value is not available."
          }
        }
      }
    },
    "/api/graph-images/status/": {
      "get": {
        "description": "Return application version number",
        "tags": [
          "Version"
        ],
        "responses": {
          "200": {
            "description": "version number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {},
  "tags": []
}