@use 'wdfnviz';
@use 'uswds';

#main-content {
  @include uswds.u-maxw('full');
  @include uswds.u-padding-x(uswds.$theme-site-margins-width);
}

pre {
  overflow-y: scroll
}

// Grabbing bits and pieces of SCSS from the USWDS website so that we can use their roadmap template
// source: https://github.com/uswds/uswds-site/blob/c74497541c96eb21f1f24484e35ec87b536728ed/css/_uswds-theme-custom-styles.scss

.site-roadmap-list,
.site-roadmap-list__sublist {
  @include uswds.add-list-reset;
}

.site-roadmap-list {
  @include uswds.u-margin-top(2);
}

.site-roadmap-list__item,
.site-roadmap-list__subitem {
  @include uswds.u-border-top(1px);
  @include uswds.u-line-height("lang", 3);
  @include uswds.u-padding-top(0.5);
  @include uswds.u-margin-top(0.5);
  @include uswds.u-display("flex");
  @include uswds.u-flex("wrap", "align-start");
}

.site-roadmap-list__item {
  @include uswds.u-border-top("ink");
  @include uswds.u-text("bold");

  .usa-tag {
    @include uswds.u-flex("auto");
  }
}

.site-roadmap-list__sublist {
  @include uswds.u-width("full");

  .site-roadmap-list__item {
    @include uswds.u-border-top("base-lighter");
    @include uswds.u-text("normal");
  }
}


.product-roadmap-list {
  li {
    max-width: 100%;
  }
}

// Label links

%label-maturity {
  //@include typeset("lang", "2xs", 4);
  color: uswds.color("ink");
  font-weight: uswds.font-weight("bold");
  margin-left: uswds.units(1.5);
  //position: absolute;
  text-decoration: none;

  //&#{$external-href}::after {
  //  display: none;
  //}
}

.label-alpha,
.label-in-progress {
  @extend %label-maturity;
  background-color: uswds.color("gold-20v");
}

.label-beta,
.label-on-deck {
  @extend %label-maturity;
  background-color: uswds.color("primary-vivid");
  color: uswds.color("white");
}

.label-upcoming {
  @extend %label-maturity;
  @include uswds.u-text("ls-1", "normal");
  @include uswds.u-border("base-light", 1px);
  color: uswds.color("base-dark");
  background-color: uswds.color("transparent");
}

.label-recommended, .label-production,
.label-done {
  @extend %label-maturity;
  background-color: uswds.color("green-cool-20v");
}

// styling rapidoc
.api_documentation {
   @include uswds.u-width('full');
   @include uswds.u-padding-x(uswds.$theme-site-margins-width);
   max-width: none;
  height: 1200px;
  overflow:scroll;
}

pre {
  max-height: 500px;
}
