{{ define "main" }}
  <h1>Welcome to Water Data Labs</h1>
<p>Water Data Labs is an experimental  site that exposes tools and technologies in development by the USGS Water Data for the Nation software team.</p>
    <p>Users can explore and test experimental products on labs before they are incorporated into production systems. Some of the services, tools and visualizations that seen here will eventually make to the core <a href="https://waterdata.usgs.gov">waterdata.usgs.gov</a> or <a href="https://waterservices.usgs.gov">waterservices.usgs.gov</a> sites, but some may not.</p>

  <p>Products hosted on waterdata labs will include:</p>

  <ul>
  <li><p>Web services that do not have a stable API</p></li>

  <li><p>Experimental visualizations or dashboards</p></li>

  <li><p>Data integration prototypes</p></li>

  <li><p>Experimental datasets and data integrations</p></li>
  </ul>

  <p>Please explore these tools, use them, and
    <a href="https://water.usgs.gov/contact/gsanswers?pemail=gs-w-ks_NWISWeb_Data_Inquiries&amp;subject=Site+Number%3A+07144100&amp;viewnote=%3CH1%3EUSGS+NWIS+Feedback+Request%3C%2FH1%3E%3Cp%3E%3Cb%3EPlease+enter+a+subject+in+the+form+below+that+briefly+summarizes+your+request%3C%2Fb%3E%3C%2Fp%3E">contact us</a>
    with questions or comments. The code behind this site and the applications
    can be found on Github, <a href="https://github.com/topics/usgs-waterdata-labs">tagged
      with usgs-waterdata-labs</a>.  Pull requests and new issues are always welcome!</p>


  <ul class="usa-card-group">
    <li class="tablet:grid-col-4 usa-card">
        <div class="usa-card__container">
          <header class="usa-card__header">
            <a href="./estimated-availability/#/"><h2 class="usa-card__heading">National Integrated Water Availability Assessments-Concept Map</h2></a>
          </header>
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="./static/water-availability/water-availability.png" alt="A placeholder image">
            </div>
          </div>
          <div class="usa-card__body">
            <p>A demonstration map that shows the latest available daily estimates of natural water storage for approximately 110,000 regions across the lower forty-eight states</p>
          </div>
        </div>
      </li>
    {{ range $key, $value := .Paginator.Pages }}
      <li class="tablet:grid-col-4 usa-card">
        <div class="usa-card__container">
          <header class="usa-card__header">
            <a href="{{ .Permalink }}"><h2 class="usa-card__heading">{{ .Title }}</h2></a>
          </header>
           <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="{{ .Params.thumbnail_path }}" alt="{{ .Params.thumbnail_alt }}">
            </div>
          </div>
          <div class="usa-card__body">
            <p>{{ .Description }}</p>
          </div>
        </div>
      </li>
    {{ end }}
  </ul>




{{ end }}
